.category-container .category-name {
  margin-bottom: var(--component-gap);
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 1.5rem;
keep-tablet()
keep-mobile()
}
.category-container .category-name i {
  color: var(--text-color-2);
}
