.home-content-container {
  background: var(--background-color-1);
}
.home-content-container .home-post-list .home-post-item {
  position: relative;
}
.home-content-container .home-post-list .home-post-item .post-sticky-box {
  position: absolute;
  z-index: $z-index-1;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0.1rem 0.4rem;
  color: var(--text-color-4);
  font-size: 12px;
  letter-spacing: 1px;
  background: var(--background-color-3);
  border-radius: 0.3rem;
  transform: scale(0.86);
  cursor: default;
keep-mobile()
}
.home-content-container .home-post-list .home-post-item .post-sticky-box.cover {
  top: 0.6rem;
  right: 0.6rem;
}
.home-content-container .home-post-list .home-post-item .post-sticky-box.card {
  top: 0.8rem;
  right: 0.8rem;
}
.home-content-container .home-post-list .home-post-item .home-post-item-top {
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color-2);
  border-top-left-radius: var(--box-border-radius);
  border-top-right-radius: var(--box-border-radius);
keep-mobile()
}
.home-content-container .home-post-list .home-post-item .home-post-item-top .home-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
}
.home-content-container .home-post-list .home-post-item .home-post-item-top .home-cover:hover {
  transform: scale(1.03);
}
.home-content-container .home-post-list .home-post-item .home-post-item-bottom {
  padding: 2rem;
}
.home-content-container .home-post-list .home-post-item .home-post-item-bottom .sticky-icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  color: var(--text-color-4);
  font-size: 1.2rem;
  transform: rotate(45deg);
}
.home-content-container .home-post-list .home-post-item .home-post-item-bottom .home-post-title {
  margin: 0;
  color: var(--text-color-2);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.5;
keep-tablet()
keep-mobile()
}
.home-content-container .home-post-list .home-post-item .home-post-item-bottom .home-post-content {
  margin: 1.8rem 0;
  color: var(--text-color-3);
  text-align: justify;
  word-wrap: break-word;
}
